<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<div class="jumbotron text-center border-bottom">
  <h1 class="font-weight-bold">Mission to Mars</h1>
  <p><a class="btn btn-primary btn-lg" href="../scrape" role="button">Scrape New Data</a></p>
</div>

<div class="container" id="cont-1">
  <div class="row">
    <div class="col-md-7">&#160;
      <div class="box bg-style">
        <h3>Latest Mars News</h3>
        <hr class="new1">

        <h6>{{ mars_info.title }}</h6>
        <p>{{mars_info.paragraph}}</p>

      </div>
    </div>
    <br>
  </div>
</div>
<div class="container" id="cont-1">
  <div class="row">
    <div class="col-md-7">&#160;
      <div class="box bg-style">
        <div class="table">
          <div class="border">
            <h5>Mars Facts</h5>
            {{ mars_info.table | safe }}
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="container" id="cont-1">
      <div class="row">
        <div class="col-sm-12">&#160;
          <h3 class="text-marsH">Mars Hemispheres</h3>
          <hr class="new1">
        </div>

        <div class="row">
          {% for item in mars_info.hemispheres %}
          <div class="col-md-6">
            <br>
            <div class="box bg-style2">
              <div class="col-md-6">
                <img class="card-img-top hem-pics" src="{{ item.image_url }}" />
                <div class="card-body">
                  <p class="card-text">{{ item.title }}</p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    </body>


</html>